@import "../variables";

.menu, .content {
	position: absolute;
}

.menu {
	top: 0;
	bottom: 0;
	left: 0;
	width: $menu-width;
	padding: $menu-padding;

	border-right: 1px solid #CCC;
}

.content {
	top: 0;
	left: $menu-width + (2 * $menu-padding);
	right: 0;
	bottom: 0;

	.games {
		padding: 0;
		margin: 0;
		width: 100%;

		li {
			list-style: none;
		}

		.game {
			height: 200px;
			border-bottom: 1px solid #ccc;
			position: relative;

			.image {
				position: absolute;
				height: 180px;
				width: 179px;
				padding: 10px;
				overflow: hidden;
				border-right: 1px solid #ccc;

				img {
					position: absolute;
					top: 50%;
					left: 10px;
					width: 180px;
					transform: translateY(-50%);
				}
			}

			.summary {
				position: absolute;
				left: 200px;
				right: 0;
				height: 180px;
				background: inline-image('qbkls.png');

				.title {
					font-weight: bold;
					font-size: 20px;
					text-align: center;
					margin-bottom: 10px;
					padding: 10px 10px 0;
				}

				.info-bar {
					height: 60px;
					padding: 0 10px;
					position: relative;

					.group {
						display: inline-block;

						&.main {
							position: absolute;
							right: 200px;
							left: 0;
							top: 0;
							bottom: 0;

							.line.multi {
								svg {
									float: left;
									padding: 8px 0;
									margin-right: 10px;
								}

								.content {
									margin-left: 30px;
								}
							}
						}

						&.float-right {
							float: right;
						}

						&.stack .info {
							display: block;
						}
					}

					&.no-tags .info {
						padding: 10px;
					}

					.info {
						display: inline-block;
						color: #495057;
						line-height: 16px;
						padding: 1px 10px;

						svg {
							margin-right: 4px;
						}

						&.categories {
							.text {
								display: inline-block;
							}
						}

						&.categories, &.mechanics {
							ul {
								padding: 0;
							}

							svg {
								vertical-align: bottom;
							}

							.category, .mechanic {
								font-size: 12px;
								padding: 2px 10px;
								background: white;
								margin-right: 6px;
								display: inline-block;
								line-height: 10px;
								border-radius: 6px;
							}
						}
					}
				}

				.description {
					height: 75px;
					overflow-y: auto;
					padding: 10px;
					background: #fff;
					border-top: 1px solid #dfdfdf;
				}
			}
		}
	}
}
