.form-builder {
	$red: #d80e0e;
	$blue: #80bdff;

	padding: 40px;

	@mixin input-shadow($color) {
		&:focus {
			border-color: $color;
			box-shadow: 0 0 0 .2rem transparentize($color, 0.7);
		}
	}

	label {
		display: block;
	}

	input {
		@include input-shadow($blue);
		outline: 0;
		border: 1px solid #ced4da;
		border-radius: .25rem;
		width: 100%;
		padding: 0.5em 1ch;

		transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	}

	fieldset {
		margin-bottom: 0.5rem;

		&.has-validation-error {
			color: $red;

			input {
				@include input-shadow($red);
			}
		}
	}

	.help-text {
		font-size: .8em;
	}

	&.inline {
		label {
			display: inline-block;
			width: 20%;
		}

		input {
			width: 80%;
		}
	}
}
