@import "../node_modules/react-bootstrap-switch/dist/css/bootstrap3/react-bootstrap-switch.min";
@import "../node_modules/bootstrap/scss/bootstrap";

@import "./fonts";
@import "./forms";
@import "./range";
@import "./switch";
@import "./variables";

@import "./register-first-user/main";


.app {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	.outer-wrapper {
		position: absolute;
		top:0;
		right: 0;
		bottom: $footer-height;
		left: 0;

		.inner-wrapper {
			position: relative;
			height: 100%;
			width: 100%;
		}
	}

	.footer {
		position: absolute;
		bottom: 0;
		height: $footer-height;
		left: 0;
		right: 0;
	}

	@import "./footer";
}

.home {
	@import "./home/main";
}
